/* BODY */
body {
    background: #c3c1a3;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
}

/* HEADER */

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-div {
    background: #c3c1a3;
    width: 100%;
}

.img-div img {
    width: 25%;
    display: block;
    margin: 1% auto;
    border: 2px solid black;
    max-width: 900px;
}

.img-div figcaption {
    text-align: center;
    margin-bottom: 2%;
}

/* CONTENT */

.content-wrapper {
    padding: 0 5%;
}

.info {
    text-align: center;
    padding-bottom: 3%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
    }

    .img-div img {
        width: 250px;
        margin-top: 5%;
    }

    h2 {
        text-align: center;
    }
  }